@charset "UTF-8";
/* 1. Usa border-box en todo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Quita márgenes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f5f5f5;
}

body {
  font-family: "DM Sans", sans-serif;
}

.bento-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
  gap: 1rem;
}
@media (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(160px, auto));
    gap: 1rem;
    display: grid;
    place-content: center;
    margin: 16px;
    padding: 24px;
  }
}
@media (min-width: 1024px) {
  .bento-grid {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: minmax(150px, 1fr);
  }
}

.bento-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
@media (min-width: 1024px) {
  .bento-card {
    justify-content: flex-start;
  }
}

.bento-card:hover {
  scale: 1.02;
  box-shadow: none;
}

.card-1 {
  background-color: hsl(256, 67%, 59%);
  text-align: center;
  padding: 16px;
}
.card-1 h2 {
  font-size: clamp(2rem, 4vw + 1.4rem, 2.2rem);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  padding: 1rem;
}
.card-1 img {
  width: 13rem;
}
.card-1 p {
  color: hsl(254, 88%, 90%);
  font-weight: 400;
  margin: 8px;
}
.card-1 .x10 {
  color: hsl(39, 100%, 71%);
}
@media (min-width: 768px) {
  .card-1 {
    padding: 24px;
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .card-1 {
    grid-column: 2/4;
    grid-row: 1;
  }
}

.card-2 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
}
.card-2 h2 {
  font-weight: 500;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .card-2 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}

.card-3 {
  background-color: hsl(39, 100%, 71%);
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
  height: 221px;
}
.card-3 h2 {
  color: hsl(0, 0%, 7%);
  font-weight: 500;
  font-size: 1.2rem;
}
.card-3 img {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .card-3 img {
    position: absolute;
    width: 90%;
    bottom: -4rem;
  }
}
@media (min-width: 1024px) {
  .card-3 {
    grid-column: 3/4;
    grid-row: 2/4;
    height: 100%;
  }
}

.card4 {
  background-color: hsl(254, 88%, 90%);
  text-align: center;
  gap: 1rem;
  color: hsl(0, 0%, 7%);
}
.card4 h2 {
  font-weight: 500;
}
.card4 p {
  font-size: 18px;
}
@media (min-width: 768px) {
  .card4 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
@media (min-width: 1024px) {
  .card4 {
    grid-column: 4/5;
    grid-row: 1/4;
    text-align: left;
    overflow: hidden;
  }
  .card4 img {
    margin-left: 100px;
  }
}

.card5 {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 7%);
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
}
.card5 h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 28px;
}
@media (min-width: 768px) {
  .card5 {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: row-reverse;
  }
}
.card5 img {
  width: 100%;
}
@media (min-width: 1024px) {
  .card5 {
    grid-column: 3/5;
    grid-row: 4;
    flex-direction: row;
    text-align: left;
  }
  .card5 h2 {
    font-size: 18px;
    padding: 0;
  }
}

.card6 {
  background-color: hsl(0, 0%, 100%);
  gap: 1rem;
  align-items: flex-start;
}
.card6 h2 {
  font-size: 2.7rem;
  font-weight: 500;
}
.card6 p {
  font-size: 18px;
  font-weight: 400;
}
.card6 img {
  width: 11rem;
}
@media (min-width: 1024px) {
  .card6 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

.card7 {
  background-color: hsl(31, 66%, 93%);
  align-items: flex-start;
  padding: 1.5rem;
}
.card7 h2 {
  font-size: 1.5rem;
  color: hsl(0, 0%, 7%);
  font-weight: 500;
}
.card7 span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}
.card7 img {
  width: 10rem;
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .card7 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.card8 {
  background-color: hsl(39, 100%, 71%);
  align-items: baseline;
}
.card8 h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
.card8 img {
  width: 12rem;
}
@media (min-width: 768px) {
  .card8 {
    grid-column: 2;
    grid-row: 3/5;
    align-items: center;
    height: 100%;
  }
  .card8 img {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .card8 {
    grid-column: 1;
    grid-row: 3/5;
  }
}

/*# sourceMappingURL=main.css.map */
