// 🎨 Colors
$Purple-100: hsl(254, 88%, 90%);
$Purple-500: hsl(256, 67%, 59%);

$Yellow-100: hsl(31, 66%, 93%);
$Yellow-500: hsl(39, 100%, 71%);

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);

$bold-400: 400;
$bold-500: 500;

// 📏 Espaciados
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;

// 📱 Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
