/* 1. Usa border-box en todo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Quita márgenes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//images
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f5f5f5;
}
